[submodule "vagrant/puppet/modules/scala"]
	path = vagrant/puppet/modules/scala
	url = https://github.com/garethr/garethr-scala.git
[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/puppet/modules/wget"]
	path = vagrant/puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "vagrant/puppet/modules/apt"]
	path = vagrant/puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
